In [16]:
#Q1: For loop is used when we have to iterate a program for a fixed number of time which is known.
#eg:- Program to write number in given rage
for i in range(5):
     print(i)

0
1
2
3
4

In [5]:
# While loop is used when the number of iterations are not fixed.
#Example : Program to write integer till the input number
Number = int(input(" NUMBER OF YOUR CHOICE"))
a=0
while a <= Number:
    print(a)
    a=a+1

 NUMBER OF YOUR CHOICE 7

0
1
2
3
4
5
6
7

In [31]:
#Q2 :- SUM OF FIRST 10 NATURAL NUMBER
Sum = 0
count = 1
while count <=10:
        Sum = Sum+ count
        count = count +1
print (Sum)

55

In [32]:
#Q2 :- Product OF FIRST 10 NATURAL NUMBER
Product = 1
count = 1
while count <=10:
        Product = Product *count
        count = count +1
print (Product)

3628800

In [ ]:
#Q3
a= int(input("ENTER THE ELECTRICITY UNITS"))
if a<=100:
    Elec_bill= a*4.5
    print(Elec_bill)
elif a<=200:
    Elec_bill = (a-100)*6 + (100*4.5)
    print(Elec_bill)
elif a<=300:
    Elec_bill = (a-200)*10 + (100*6) + (100*4.5)
    print(Elec_bill)
else:
    Elec_bill = (a-300)*20 + (100*10) + (100*6) + (100*4.5)
    print(Elec_bill)

In [2]:
#Q4
L= []
for i in range (1,101):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [6]:
L=[]
for i in range(1,101):
    i = i**3
    L.append(i)
print(L)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [7]:
L1=[]
for i in L:
    if (i%4) == 0 or (i%5)==0:
        L1.append(i)
print(L1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [7]:
#Q5
String = ( "I want to become a data scientist") 
List=[]
for i in String:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" or i== "A" or  i == "E" or i == "O" or i== "I" or i == "U":
          List.append(i)
print(List)
print(len(List))

['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
12